<nav>
  <ul>
    <li>
      <a routerLink="/admin/home/admin-dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/home/reports" routerLinkActive="active">
        <mat-icon>assessment</mat-icon>
        <span>Reports</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/home/signin" routerLinkActive="active">
        <mat-icon>login</mat-icon>
        <span>Sign In</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/home/staff" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span>Staff</span>
      </a>
    </li>
  </ul>
</nav>
